.content__home {
    padding: 20px 100px;
    padding-top: 80px;
    height: 100vh;

   
}

.header__home {
    display: flex;
    justify-content: end;
    gap: 1.5rem;
    padding-bottom: 50px;
}

.content__form-home {
    position: fixed;
    backdrop-filter: blur(5px);
    top: 10%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 500;
}

.x__close {
    position: absolute;
    right: 30%;
    top: 5%;
    color: rgb(56, 56, 56);
    border: 2px solid rgb(89, 89, 89);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}