.form__auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 15px;
    width: 50%;
    height: 80vh;
    background: linear-gradient(141deg, rgba(149,148,143,1) 17%, rgba(224,220,197,1) 26%, rgba(130,130,130,1) 36%, rgba(224,220,197,1) 46%, rgba(168,166,157,1) 54%, rgba(224,220,197,1) 61%, rgba(158,157,150,1) 70%, rgba(224,220,197,1) 76%, rgba(139,139,137,1) 84%, rgba(224,220,197,1) 94%);
    margin: 0 auto;
    /* position: fixed;
    top: 0;
    left: 0; */
}

.items__form {
    display: flex;
    flex-direction: column;
    width: 40%; 
}

.items__form input {
    border-radius: 15px;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 5px;
}

.items__form input:hover {
    border-radius: 15px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid black;
    border-right: none;
    padding: 5px;
}

.form__auth button {
    border: none;
    border-radius: 15px;
    width: 40%;
    height: 34px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.758);

}

.form__auth button:hover {
    
    box-shadow: 1px 1px 1px 4px rgba(0, 0, 0, 0.758);

}

